body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.dialog label {
    display: block;
    margin-bottom: 5px;
}

.dialog input {
    width: 100%;
    margin-bottom: 10px;
}

#nodedetails {
        display: none;
        width: 400px;
        border: 10px solid #666;
        border: 10px solid rgba(82, 82, 82, 0.698);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
}

#ctxMenu{
    display:none;
    z-index:100;
}
menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    width:20px;
    padding:0;
    margin:0;
    border:1px solid;
    background-color:white;
    font-weight:normal;
    white-space:nowrap;
}
menu:hover{
    background-color:#eef;
    font-weight:bold;
}
menu:hover > menu{
    display:block;
}
menu > menu{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:55px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:"\2630";
}
